/*Estrutura*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 100px;
}

.container {
  /*display: block;
  justify-items: center;*/
  width: fit-content;
  margin: 0 auto;
  padding: 0 100px;
}

h1 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 50px;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
}

.quadro {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 3fr 1fr 1fr;
  width: 696px;
  height: 521px;
  margin-bottom: 100px;
  border: 14px solid black;
  background-color: white;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
}
.quadro div {
  border: 7px black solid;
}

.quadro div:hover {
  filter: brightness(5);
  cursor: pointer;
}

/*juntando os grids que ocupam mais de um espaço*/
#i4 {
  grid-column: span 2;
}
#i16 {
  grid-column: span 2;
}
#i20 {
  grid-column: span 2;
}
#i21 {
  grid-column: span 2;
}
#i13 {
  grid-row: span 2;
}
#i14 {
  grid-row: span 2;
}

/*colorindo os quadrados*/
#i2 {
  background-color: rgba(255, 255, 0, 255);
}
#i3 {
  background-color: rgba(0, 0, 254, 255);
}
#i4 {
  background-color: rgba(241, 13, 12, 255);
}
#i5 {
  background-color: rgba(255, 255, 0, 255);
}
#i11 {
  background-color: rgba(0, 0, 254, 255);
}
#i12 {
  background-color: rgba(241, 13, 12, 255);
}
#i16 {
  background-color: rgba(241, 13, 12, 255);
}
#i18 {
  background-color: rgba(255, 255, 0, 255);
}
#i19 {
  background-color: rgba(0, 0, 254, 255);
}
#i20 {
  background-color: rgba(255, 255, 0, 255);
}
